
.imgPer{
	border: solid 2px rgba(0,0,0,0.5);
	border-radius: 500px;
	margin: 0 auto ;
	width: 29.5%;
	height: 29.5%;
	transition: 0.2s;
	box-shadow: 0 4px 20px 0 #000, 0 0px 20px 0 #000;
}
.imgPer:hover{
	border: solid 3px rgba(255, 204, 224, 0.8);
	box-shadow: 0 4px 20px 0 #000, 0 0 20px 0 #000;
}

.info{
	border: solid 2px rgba(0,0,0, 0.5);
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	background-color: rgba(0,0,0,0.5);
	margin: -90px auto 0;
	padding: 20px;
	padding-top: 80px;
	transition: 0.3s;
	box-shadow: 0 6px 25px 0 #000, 0 6px 25px 0 #000;
}
.menua, .menuf{
	width: 30px;
	margin: 0;
}

.infologo img:hover{
	cursor: pointer;
}
.info:hover{
	background: url(https://media.giphy.com/media/WIhI3Gec1laLe/giphy.gif) fixed;
	background-size: 100%;
	border: solid 2px rgba(255, 204, 224, 0.8);
	color: #FFF;
	text-shadow: 1px 1px 2px black, 0 0 25px pink, 0 0 5px darkblue;
}
.cabecalho{
	position: fixed;
	width: 100%;
	top: 0;
	height: 50px;
	background-color: rgba(0,0,0, 0.7);
	box-shadow: 0 4px 25px 0 #000, 0 4px 25px 0 #000;
	vertical-align: middle;
	color: #FFF;
	transition: 0.3s;
}
.cabecalho:hover{
	background-color: rgb(255,255,255);
	color: #000;
}
.cabecalho .logo, .cabecalho .infologo{
	float: left;
	margin: 0.5%;
	font-size: 1em;
	letter-spacing: 0.2em;
}
.cabecalho .infologo{
	right: 0;
	position: absolute;
	margin: 1%;
}

.infologo h1, .infologo img{
	float: left;
	font-size: 1em;
	letter-spacing: 0.2em;
}
.infologo h1{
	margin-top: 5px;
	margin-right: 5px;
}

.cabecalho .logo{
	font-size: 1.5em;
}

.perfil{
	margin-top: 5%;
	color: #FFF;
	text-shadow: 0px 4px 4px rgb(0, 0, 51);
}

h1,h2, p{
	margin: 0;
}

.nome{
	font-family: 'Rubik', sans-serif;
	font-size: 3em;
	letter-spacing: 0.2em;
	text-align: center;
}

.botao{
	margin-top: 4%;
	border-radius: 5px;
	width: 20%;
	padding: 1%;
	border: solid 1px rgba(255,255,255,0.5);
	background-color: rgba(255,255,255,0.5);
	font-size: 1em;
	color: #FFF;
	font-family: 'Oxygen', sans-serif;
	transition: 0.2s;
	letter-spacing: 0.2em;
}

.botao:hover{
	background: url(https://media.giphy.com/media/WIhI3Gec1laLe/giphy.gif) fixed no-repeat;
	background-size: 100%;
	box-shadow: 0 4px 15px 0 #000, 0 4px 15px 0 #000;
	font-weight: bold;
}

.caixa{
	margin-top: 5px;
	text-align: justify;
	letter-spacing: 0.2em;
	vertical-align: middle;
	font-size: 1.2em;
}
span{
	font-size: 1.5em;
	margin-left: 10%; 
}

.menu{
	height: 121px;
	width: 300px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 100px;
	right: 0;
	font-size: 1em;
	letter-spacing: 0.2em;
	border-bottom-left-radius: 5px;
	border-left: groove 1px rgba(105,105,105, 0.5);
	border-bottom: groove 1px rgba(105,105,105, 0.5);
}

.menu ul{
	padding: 0;
	margin: 0;
	text-align: center;
}
.menu li{
	width: 300px;
	list-style: none;
	padding: 20px 0;
	box-sizing: border-box;
	margin: 0 auto;
	transition: 0.2s;
}
.menu li:nth-child(2){
	border-bottom-left-radius: 5px;
	border-top: groove 1px rgba(105,105,105, 0.5);
}
.menu li:hover{
	background-color: rgba(255, 204, 224, 0.4);
	cursor: pointer;
	text-shadow: 0px 4px 4px #666666;
}

.menu li:hover .bmenu{
	text-shadow: 0px 4px 4px #666666;
	cursor: pointer;
}

.bmenu{
	background: transparent;
	border: none;
	font-size: 1em;
	color: #000; 
	letter-spacing: 0.2em;
}

.id{
	display: none;
}

.amigo{
	margin: 10px auto;
}